{{#each banners}}
    <a href="/banner/{{this.url}}"><img src={{concat '/templates/bundle/assets/home/' this.url '.png'}} title="{{this.name}}" /><div class="banner-item">{{ this.name }}</div></a>
{{/each}}