{{#each category}}
    <div class="category-wrapper">
        <div class="icon-wrapper" style="color:{{color}}"><i class="{{icon}}"></i></div>
        <span class="category">{{name}}</span>
    </div>
{{/each}}