@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    margin: 0;
    max-height: 100vh;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    background: #ffffff;
    color: #939393;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

input {
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #e2e2e2;
    color: #000;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353535 inset;
    -webkit-text-fill-color: #c2c3c3;
}body {
    position: relative;
}

#main-wrapper {
    margin-left: auto;
    transition: 0.3s width ease;
    width: 100%;
}

#main-wrapper.active {
    width: calc(100% - 190px);
}

/* HEADER */
#header-wrapper {
    display: -ms-flexbox;
    display: flex;
    margin: 10px 50px;
    -ms-flex-align: center;
        align-items: center;
    transition: 0.3s all ease;
}

#header-wrapper.active {
    margin: 10px 20px 10px 160px;
}

#logo-wrapper {
    position: relative;
    width: 132px;
    height: 40px;
    color: #b9caff;
    margin: 10px 0;
}

#rise-up-logo {
    font-size: 15px;
    position: absolute;
    top: -7px;
}

#gamers-logo {
    font-size: 33px;
    top: 4px;
    left: -2px;
    position: absolute;
    font-weight: 600;
}

#nav-wrapper {
    margin: 0 30px;
    display: -ms-flexbox;
    display: flex;
}

#nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
    margin: 0 20px;
}

#nav-wrapper a:hover {
    color: #14b582;
}
/* HEADER */

/* SIDE BAR */
#side-bar-toggle {
    padding: 12px;
    margin: 0 0 -5px 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    position: absolute;
    left: 116px;
    top: -2px;
}

#side-bar-toggle:hover {
    color: #14b582;
}

#side-nav-wrapper.active {
    left: 0;
    width: 150px;
}

#side-nav-wrapper:not(.active) #side-bar-toggle {
    left: -16px;
    top: -10px;
    font-size: 23px;
}

#side-nav-wrapper:not(.active) .category, #side-nav-wrapper:not(.active) #rise-up-logo, #side-nav-wrapper:not(.active) #gamers-logo {
    display: none;
}

#side-nav-wrapper:not(.active) .icon-wrapper  {
    font-size: 28px;
}

#side-nav-wrapper:not(.active) .category-wrapper  {
    text-align: center;
}

#side-nav-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 36px;
    padding: 10px 20px;
    height: 100vh;
    transition: 0.3s width ease;
    background: #4b4b4b;
}

#side-nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
}

#side-nav-wrapper a:hover {
    color: #14b582;
}
/* SIDE BAR */

/*CATEGORY*/
.category-wrapper {
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
}

.icon-wrapper {
    font-size: 20px;
    margin: 0;
    width: 30px;
}

.category {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s all ease;
    font-size: 20px;
}
/*CATEGORY*/

/*SEARCH INPUT*/
#search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 300px;
    margin-left: auto;
}

#search-input {
    background-color: transparent;
    width: 255px;
    padding: 0 0 0 10px;
}

.search-icon {
    padding: 12px;
    cursor: pointer;
}

#submit {
    display: none;
}
/*SEARCH INPUT*/

/*BANNER*/
#banner-wrapper {
    text-align: center;
    margin-left: auto;
}

#banner-wrapper img {
    width: 1100px;
    height: 400px;
}


/*BANNER*/

/*BANNER SEARCH INPUT*/
#banner-search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 500px;
    margin: 20px auto;
}

#banner-search-input {
    background-color: transparent;
    width: 456px;
    padding: 0 0 0 10px;
}
/*BANNER SEARCH INPUT*/

/* INVENTORY */
#inventory-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: calc(100vw - 200px);
    padding: 0 100px;
}

.item {
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

.item:hover {
    background: #d2d2d2;
}

.item img {
    max-width: 200px;
    height: 150px;
}

.item-name {
    display: block;
    text-align: center;
}

.item-price {
    color: #000;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}
/* INVENTORY */