@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    margin: 0;
    max-height: 100vh;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    background: #ffffff;
    color: #939393;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

input {
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #e2e2e2;
    color: #000;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353535 inset;
    -webkit-text-fill-color: #c2c3c3;
}body {
    position: relative;
}

/* HEADER */
#header-wrapper {
    display: -ms-flexbox;
    display: flex;
    margin: 10px 15px;
    -ms-flex-align: center;
        align-items: center;
}

#nav-wrapper {
    margin: 0 30px;
    display: -ms-flexbox;
    display: flex;
}

#nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
    margin: 0 20px;
}

#nav-wrapper a:hover {
    color: #14b582;
}
/* HEADER */

/* SIDE BAR */
#side-bar-toggle {
    padding: 12px;
    margin: 0 0 -5px 10px;
    cursor: pointer;
    transition: 0.3s all ease;
}

#side-bar-toggle:hover {
    color: #14b582;
}

#side-nav-wrapper.active {
    left: 0;
}

#side-nav-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    left: -140px;
    width: 100px;
    background: white;
    padding: 10px 20px;
    height: 100vh;
    transition: 0.3s all ease;
}

#side-nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
}

#side-nav-wrapper a:hover {
    color: #14b582;
}
/* SIDE BAR */

/*SEARCH INPUT*/
#search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 300px;
    margin-left: auto;
}

#search-input {
    background-color: transparent;
    width: 255px;
    padding: 0 0 0 10px;
}

.search-icon {
    padding: 12px;
    cursor: pointer;
}

#submit {
    display: none;
}
/*SEARCH INPUT*/

/*BANNER*/
#banner-wrapper {
    background: url(/templates/bundle/assets/banner/nintendo.png) no-repeat;
    width: 1519px;
    height: 400px;
}
/*BANNER*/

/*CATEGORY*/
.category {
    cursor: pointer;
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
}
/*CATEGORY*/

/*BANNER SEARCH INPUT*/
#banner-search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 500px;
    margin: 20px auto;
}

#banner-search-input {
    background-color: transparent;
    width: 456px;
    padding: 0 0 0 10px;
}
/*BANNER SEARCH INPUT*/

/* INVENTORY */
#inventory-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: calc(100vw - 200px);
    padding: 0 100px;
}

.item {
    padding: 5px 15px;
    cursor: pointer;
}

.item:hover {
    background: #d2d2d2;
}

.item img {
    max-width: 200px;
    max-height: 175px;
}

.item-name {
    display: block;
    text-align: center;
}

.item-price {
    color: #000;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}
/* INVENTORY */