@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url(/templates/bundle/assets/fonts/Karla-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    margin: 0;
    max-height: 100vh;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    background: #ffffff;
    color: #939393;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

input {
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #e2e2e2;
    color: #000;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353535 inset;
    -webkit-text-fill-color: #c2c3c3;
}/* HEADER */
#header-wrapper {
    display: -ms-flexbox;
    display: flex;
    margin: 10px 15px;
    -ms-flex-align: center;
        align-items: center;
}

#nav-wrapper {
    margin: 0 30px;
    display: -ms-flexbox;
    display: flex;
}

#nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
    margin: 0 20px;
}

#nav-wrapper a:hover {
    color: #14b582;
}
/* HEADER */

/*SEARCH INPUT*/
#search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 300px;
    margin-left: auto;
}

#search-input {
    background-color: transparent;
    width: 255px;
    padding: 0 0 0 10px;
}

.search-icon {
    padding: 12px;
    cursor: pointer;
}

#submit {
    display: none;
}
/*SEARCH INPUT*/

/*BANNER*/
#banner-wrapper {
    background: url(/templates/bundle/assets/banner/nintendo.png) no-repeat;
    width: 1519px;
    height: 400px;
}
/*BANNER*/

/*HIGHLIGHT ITEMS*/
#highlights-wrapper img {
    height: 110px;
}

.highlight-title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #1f1f1f;
    margin-bottom: 10px;
}

#new-items-wrapper {
    /*display: flex;*/
    display: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px 0;
}
/*HIGHLIGHT ITEMS*/

/* CATEGORY */
#category-wrapper {
    padding: 10px 0;
}

#category-wrapper h2 {
    text-align: center;
}

.banner-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.banner-item {
    height: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}

#banner-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}

#banner-container a {
    padding: 20px;
    text-decoration: none;
    color: #0d0d0d;
}

#banner-container img:hover {
    -webkit-filter: brightness(1) hue-rotate(10deg) contrast(1);
            filter: brightness(1) hue-rotate(10deg) contrast(1);
    box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}

#banner-container img {
    height: 200px;
}
/* CATEGORY */