body {
    position: relative;
}

#main-wrapper {
    margin-left: auto;
    transition: 0.3s width ease;
    width: 100%;
    min-height: calc(100vh - 60px);
}

/*CATEGORY*/
.category:hover, #all-button:hover {
    background: #eaeaea;
}

#all-button {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.category {
    color: #000;
    text-decoration: none;
    transition: 0.3s all ease;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    padding: 5px 20px 5px 30px;
}
/*CATEGORY*/

/*BANNER*/
#banner-wrapper {
    width: 1519px;
    height: 400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    margin-left: auto;
}

#banner-wrapper.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.featured-banner {
    background: #ccc;
    height: 200px;
    margin: 10px 30px;
    text-align: center;
}

.product-image {
    position: absolute;
}

.slick-slide {
    position: relative;
}

.product-image {
    max-height: 221px;
}
/*BANNER*/

/*BANNER SEARCH INPUT*/
#banner-search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 500px;
    margin: 20px auto;
}

#banner-search-input {
    background-color: transparent;
    width: 456px;
    padding: 0 0 0 10px;
}
/*BANNER SEARCH INPUT*/

/* INVENTORY */
#inventory-wrapper {
    display: flex;
}

#inventory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.item {
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    position: relative;
}

.details-container {
    position: relative;
}

.item:hover .details-container {
    background: #ffffff;
    filter: brightness(.75);
}

.item img {
    max-width: 200px;
    height: 150px;
}

.item-name {
    display: block;
    text-align: center;
    font-size: 14px;
}

.item-price {
    color: #000;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}

.item:hover .save-button-wrapper {
    opacity: 1;
    transform:translateY(-100px) rotateY(180deg);
}

.save-button-wrapper {
    position: absolute;
    bottom: 10px;
    left: 91px;
    font-size: 30px;
    color: #ffffff;
    opacity: 0;
    transition: all .75s ease;
}

.save-button:hover, .remove-button:hover {
    color: yellow;
}

.save-button {
    padding: 10px;
}

.remove-button {
    color: #e9e670;
    padding: 10px;
    display: none;
}

.saved .save-button {
    display: none;
}

.saved .remove-button {
    display: inline-block;
}

.save-icon {
    position: absolute;
    right: 5px;
    top: 7px;
    color: #f78787;
    display: none;
}

.saved .save-icon {
    display: block;
}
/* INVENTORY */

/* ITEM POPUP */
#item-wrapper-popup {
    background: white;
    min-height: 600px;
    min-width: 500px;
    width: 90%;
    margin: 25px auto;
    padding: 35px 0;
}

#item-wrapper-popup h2 {
    margin: 30px 10px;
    font-size: 18px;
    width: 500px;
}

table {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

tbody {
    margin: 25px auto 0 auto;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #dcdcdc;
}

tr {
    height: 50px;
    cursor: pointer;
}

tbody tr:hover {
    background: #f9f9f9;
}

#top-section-wrapper {
    padding: 15px 20px;
    display: flex;
}

.favorite-button {
    background: transparent;
    padding: 10px 50px;
    border-radius: 3px;
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
}

#favorite-button {
    border: 2px solid #27b727;
}

#unfavorite-button {
    border: 2px solid red;
}

.link-button, .view-button {
    background: #05b346;
    padding: 10px 50px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: #fbfbfb;
    border: none;
}

.link-button:hover, .view-button:hover {
    filter: brightness(110%);
}

.view-button {
    position: absolute;
    background: #2c7a39;
}

#image-preview {
    height: 180px;
    max-width: 250px;
}

.sub-image {
    margin: 0 7px;
    height: 40px;
    cursor: pointer;
    padding: 2px;
    border: 1px transparent solid;
}

.sub-image:hover {
    border: 1px #bcbcbc solid;
}
/* ITEM POPUP */
