header {
    background: #151515;
    color: #ffffff;
    padding: 7px 20px;
}

#logo {
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

#action-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    line-height: 25px;
}

#action-wrapper a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    transition: all 0.3s ease 0s;
}

#action-wrapper a:hover {
    color: #45e4ff;
}

#action-wrapper li {
    display: inline;
}

#action-wrapper svg {
    font-size: 11px;
    margin: 0 4px 1px 4px;
}

#wrapper {
    background: #ffffff;
    display: flex;
    height: calc(100vh - 79px);
    padding: 20px;
}

/*LEFT CATEGORY*/

#left-wrapper {
    width: 250px;
    border-radius: 1px;
    height: fit-content;
    padding: 7px 0;
}

#left-wrapper select {
    height: 26px;
    margin: 5px auto;
    display: block;
    outline: none;
}

#left-wrapper nav {
    display: flex;
    flex-direction: column;
}

#left-wrapper nav a {
    padding: 2px 10px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

#left-wrapper nav a:hover {
    text-decoration: underline;
}

/*LEFT CATEGORY*/

/*MAIN WRAPPER*/
#main-wrapper {
    width: 100%;
    color: #000;
    background: #f0f0f0ee;
    margin-left: 10px;
    min-height: fit-content;
    max-width: 1222px;
}

#type-title {
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
}

#category-title {
    font-weight: 100;
    font-size: 17px;
    margin: 8px 0;
    color: #818181;
    text-align: center;
}
/*MAIN WRAPPER*/

/* CATALOG */


#catalog-wrapper {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    list-style: none;
}

.favorite-button {
    background: white;
    padding: 8px 8px 4px 8px;
    border-radius: 90%;
    color: #5a5a5a;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 43%;
}

.favorite-button:hover {
    color: #fefefe;
    background: #fc2424;
}

.catalog-item {
    display: inline-block;
    position: relative;
}

.catalog-item-container {
    padding: 5px;
    cursor: default;
    background: white;
    /*width: 230px;*/
    transition: all 0.5s;
    border: 1px solid #dcdcdc;
    margin: 0;
    width: 244px;
}

.catalog-item-container:hover, .catalog-item-container.hover {
    filter: brightness(94%);
}

.catalog-item img {
    max-height: 180px;
    max-width: 165px;
    margin: 0 auto;
    display: block;
    background: #ffffff;
}

.catalog-header {
    height: 26px;
}

.catalog-source {
    float: right;
    font-size: 12px;
    color: #9f9e9e;
}

.catalog-type {
    background: #2962fe;
    color: white;
    border-radius: 30px;
    padding: 3px 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.catalog-price {
    font-size: 17px;
    font-weight: bold;
    float: right;
}

.catalog-footer {
    margin-bottom: 5px;
}



/*1*/
@media screen and (max-width: 806px) { #catalog-wrapper { width: 244px; } }
/*2*/
@media screen and (min-width: 807px) and (max-width: 1049px) { #catalog-wrapper { width: 488px;  } }
/*3*/
@media screen and (min-width: 1050px) and (max-width: 1293px) { #catalog-wrapper { width: 732px; } }
/*4*/
@media screen and (min-width: 1294px) and (max-width: 1498px) { #catalog-wrapper { width: 976px; } }
/*5*/
/*@media screen and (max-width: 1499px) and (max-width: 1000000px) { #catalog-wrapper { width: 1220px; } }*/

/* CATALOG */


/*#banner-wrapper {*/
    /*background: url('../assets/anime/anime-banner.png') no-repeat center;*/
    /*background-size: cover;*/
/*}*/