/* HEADER */
#header-wrapper {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    transition: 0.3s all ease;
    position: relative;
}

#logo-wrapper {
    position: relative;
    width: 135px;
}

#riseupgamers-logo {
    position: absolute;
    top: -37px;
    left: -54px;
    height: 93px;
    cursor: pointer;
}

#nav-wrapper {
    margin: 0 30px;
    display: flex;
    width: 100%;
    height: 38px;
}

#nav-wrapper .nav-link {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
    margin: 0 20px;
    cursor: pointer;
    line-height: 50px;
    white-space: nowrap;
}

#nav-wrapper a:hover {
    color: #14b582;
}

#nav-wrapper #save-link {
    margin-left: auto;
}

#header-save-icon {
    position: relative;
    font-size: 22px;
    color: #ffb8b8;
}

#number-saved {
    position: absolute;
    z-index: 1;
    color: black;
    right: 21%;
    font-size: 12px;
    top: 8px;
    font-weight: 600;
    line-height: 10px;
    width: 14px;
    text-align: center;
}

#number-saved.two-digit {
    right: 26%;
}

#category-popup {
    display: none;
    position: absolute;
    height: calc(100% + 18px);
    top: 50px;
    left: 224px;
    width: 159px;
    background: #fff;
    z-index: 3;
    padding: 5px;
    border: solid 1px #e1e1e1;
    border-radius: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 2px 12px -3px rgba(0, 0, 0, 0.1);
}

#category-popup.active {
    display: block;
}

#category-popup a {
    text-decoration: none;
    color: #0d0d0d;
    text-align: center;
    width: 125px;
    padding: 5px 0;
}

.banner-item {
    height: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}
/* HEADER */

/* FOOTER */
#footer-wrapper {
    display: flex;
    background: #1f1f1f;
}

#footer-wrapper nav {
    padding: 16px 0;
}

#footer-wrapper a {
    display: block;
    color: #eaeaea;
    text-decoration: none;
}

#footer-wrapper .footer-link:hover {
    color: #ffffff;
}

#left-section {
    margin: 12px 20px;
}

#footer-logo {
    height: 92px;
}

.connection-wrapper {
    display: flex;
    font-size: 25px;
    margin: 0 20px 0 auto;
    align-items: center;
}

#facebook-link {
    height: 20px;
    padding: 10px;
    width: 21px;
    transition: all 0.3s;
    cursor: pointer;
}

#facebook-link a {
    height: 19px;
    width: 16px;
    color: #337ab7;
    position: relative;
    background: white;
}

#facebook-link svg {
    position: absolute;
    top: -3px;
    left: -2px;
}

#twitter-link {
    height: 20px;
    padding: 10px;
    width: 21px;
    transition: all 0.3s;
    cursor: pointer;
}

#twitter-link:hover, #facebook-link:hover {
    margin-bottom: 10px;
}

#twitter-link a, #facebook-link a {
    height: 20px;
    width: 16px;
    position: relative;
    background: white;
}

#twitter-link a {
    color: #337ab7;
}

#facebook-link a {
    color: #3b5998;
}

#twitter-link svg, #facebook-link svg {
    position: absolute;
    top: -3px;
    left: -2px;
}
/* FOOTER */