/*BANNER*/
#banner-wrapper {
    width: 1519px;
    height: 400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

#banner-wrapper.slick-initialized {
    visibility: visible;
    opacity: 1;
}

#banner-wrapper img {
    background: #ccc;
    height: 200px;
    margin: 10px 30px;
    text-align: center;
}
/*BANNER*/

/*HIGHLIGHT ITEMS*/
#highlights-wrapper {
    display: flex;
    justify-content: center;
}
/*HIGHLIGHT ITEMS*/

/* CATEGORY */
#category-wrapper {
    padding: 10px 0;
}

#category-wrapper h2 {
    text-align: center;
}

.banner-container {
    display: flex;
    justify-content: space-around;
}

.banner-item {
    height: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}

#banner-container {
    display: flex;
    justify-content: center;
}

#banner-container a {
    padding: 20px;
    text-decoration: none;
    color: #0d0d0d;
}

#banner-container img:hover {
    filter: brightness(1) hue-rotate(10deg) contrast(1);
    box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}

#banner-container img {
    height: 200px;
}
/* CATEGORY */