#main-wrapper {
    min-height: calc(100vh - 60px);
}

/*BANNER*/
#banner-wrapper {
    /*width: 1519px;*/
    /*height: 400px;*/
    width: 1200px;
    height: 390px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    margin: 0 auto;
}

#banner-wrapper.slick-initialized {
    visibility: visible;
    opacity: 1;
}

#banner-wrapper img {
    background: #ccc;
    height: 200px;
    margin: 10px 30px;
    text-align: center;
}
/*BANNER*/

/*HIGHLIGHT ITEMS*/
#highlights-wrapper {
    display: flex;
    justify-content: center;
}
/*HIGHLIGHT ITEMS*/

/* CATEGORY */
#category-wrapper {
    padding: 10px 0;
    margin: 30px 0 10px 0;
}

#category-wrapper h2 {
    text-align: center;
}

.banner-container {
    display: flex;
    justify-content: space-around;
}

#banner-container {
    display: flex;
    justify-content: center;
}

#banner-container a {
    padding: 20px;
    text-decoration: none;
    color: #0d0d0d;
}

#banner-container img:hover {
    filter: brightness(1) hue-rotate(10deg) contrast(1);
    box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}

#banner-container img {
    height: 200px;
}
/* CATEGORY */

/* POLICY */
#policy-wrapper {
    height: calc(100vh - 290px);
    padding: 60px 100px 50px 100px;
    overflow: auto;
}

#policy-wrapper p {
    margin: 18px 30px;
}

#policy-wrapper h3 {
    font-size: 15px;
}

#policy-wrapper form {
    width: 430px;
    margin: 0 auto;
}

#policy-wrapper textarea {
    resize: none;
    height: 150px;
    width: calc(100% - 30px);
    padding: 10px;
}

#policy-wrapper .input-wrapper {
    margin: 25px 0;
}

#policy-wrapper label {
    display: block;
    padding-bottom: 5px;
    font-size: 19px;
}

#policy-wrapper input {
    width: 400px;
}

#policy-wrapper input[type=submit] {
    margin-left: 96px;
    width: 210px;
    background: #008c00;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#success-container {
    text-align: center;
    margin: 20px 0;
}

#success-container h3 {
    font-size: 32px;
}

#success-container div {
    color: #ff8f83;
    font-size: 23px;
    margin: 30px 0;
    font-weight: 900;
}
/* POLICY */