/* HEADER */
#header-wrapper {
    display: flex;
    margin: 10px 15px;
    align-items: center;
}

#nav-wrapper {
    margin: 0 30px;
    display: flex;
}

#nav-wrapper a {
    color: #131313;
    text-decoration: none;
    transition: 0.3s all ease;
    margin: 0 20px;
}

#nav-wrapper a:hover {
    color: #14b582;
}
/* HEADER */

/*SEARCH INPUT*/
#search-wrapper {
    background: #e2e2e2;
    padding-right: 10px;
    white-space: nowrap;
    width: 300px;
    margin-left: auto;
}

#search-input {
    background-color: transparent;
    width: 255px;
    padding: 0 0 0 10px;
}

.search-icon {
    padding: 12px;
    cursor: pointer;
}

#submit {
    display: none;
}
/*SEARCH INPUT*/

/*BANNER*/
#banner-wrapper {
    background: url(/templates/bundle/assets/banner/nintendo.png) no-repeat;
    width: 1519px;
    height: 400px;
}
/*BANNER*/

/*HIGHLIGHT ITEMS*/
#highlights-wrapper img {
    height: 110px;
}

.highlight-title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #1f1f1f;
    margin-bottom: 10px;
}

#new-items-wrapper {
    /*display: flex;*/
    display: none;
    justify-content: space-around;
    padding: 15px 0;
}
/*HIGHLIGHT ITEMS*/

/* CATEGORY */
#category-wrapper {
    padding: 10px 0;
}

#category-wrapper h2 {
    text-align: center;
}

.banner-container {
    display: flex;
    justify-content: space-around;
}

.banner-item {
    height: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}

#banner-container {
    display: flex;
    justify-content: center;
}

#banner-container a {
    padding: 20px;
    text-decoration: none;
    color: #0d0d0d;
}

#banner-container img:hover {
    filter: brightness(1) hue-rotate(10deg) contrast(1);
    box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}

#banner-container img {
    height: 200px;
}
/* CATEGORY */