{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rise Up Gamers: Server Error</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/riseupgamers/riseupgamers.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{ base_url }}';
        globals.banners = {{ banners|safe }};
    </script>
</head>
<body>
    <%= require('html-loader!./partial/header.html') %>

    <h2 style="position: absolute;left: 60px;top: 117px;font-size: 67px;color: black;">500: Server Error!</h2>
    <img style="width: 1400px;height: 600px;margin: 0 auto;display: block;" src="/templates/bundle/assets/home/home-banner.png" />
</body>
</html>