{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legitsky</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/legitsky/legitskyw.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{ base_url }}';
        globals.banner_name = '{{ banner_name }}';
        globals.banner = {{banner|safe}};
    </script>
</head>
<body>
    <div class="active" id="header-wrapper">
        <nav id="nav-wrapper">
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/sitemap/">Sitemap</a>
            <a href="/contact/">Contact</a>
        </nav>

        <form id="search-wrapper" action="/search" method="get">
            <input id="search-input" name="q" value="{{ q }}" autocomplete="off" />
            <span class="search-icon"><i class="fas fa-search"></i></span>
            <input type="submit" id="submit" />
        </form>
    </div>

    <nav class="active" id="side-nav-wrapper">
        <div id="logo-wrapper">
            <span id="rise-up-logo">Rise Up</span>
            <div id="gamers-logo">Gamers</div>
            <div id="side-bar-toggle"><i class="fas fa-bars"></i></div>
        </div>
        <div id="category-container"></div>
    </nav>

    <div class="active" id="main-wrapper">
        <div id="banner-wrapper">
            <img src="/templates/bundle/assets/featured_banner/{{ banner_name }}.png" />
        </div>

        <div id="banner-search-wrapper">
            <input id="banner-search-input" name="q" value="{{ q }}" autocomplete="off" />
            <span class="search-icon"><i class="fas fa-search"></i></span>
            <input type="submit" id="submit" />
        </div>

        <div id="inventory-wrapper">
            <div id="inventory-header-wrapper">

            </div>

            <div id="inventory-container">

            </div>
        </div>
    </div>


</body>
</html>