{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rise Up Gamers</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/riseupgamers/riseupgamers.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{ base_url }}';
        globals.banners = {{ banners|safe }};
    </script>
</head>
<body>
    <%= require('html-loader!./partial/header.html') %>

    <div id="main-wrapper">
        <div id="banner-wrapper">
            <img style="width: 1400px;height: 400px;" src="/templates/bundle/assets/home/home-banner.png" />
        </div>

        <div id="category-wrapper">
            <h2>Category Banner</h2>
            <div id="banner-container">

            </div>
        </div>
    </div>

    <%= require('html-loader!./partial/footer.html') %>
</body>
</html>