<div id="footer-wrapper">
    <div id="left-section"><img id="footer-logo" src="/templates/bundle/assets/riseupgamers/riseupgamer-footer.png" /></div>
    <nav>
        <a class="footer-link" href="/tos">Terms of Service</a>
        <a class="footer-link" href="/privacy-policy">Privacy Policy</a>
        <a class="footer-link" href="/contact">Contact Us</a>
    </nav>
    <div class="connection-wrapper">
        <div id="twitter-link">
            <a href="https://twitter.com/riseupgamers1" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div id="facebook-link">
            <a href="https://www.facebook.com/Riseupgamers-310269059614173/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</div>