<div id="header-wrapper">
    <nav id="nav-wrapper">
        <a href="/">Home</a>
        <a id="category-button">Category</a>
        <a>Deals</a>
        <a href="/save" id="save-link"><span id="header-save-icon"><span id="number-saved"></span><i class="fas fa-star"></i></span> Saved</a>
    </nav>

    <form id="search-wrapper" action="/search" method="get">
        <input id="search-input" name="q" value="{{ q }}" autocomplete="off" />
        <span class="search-icon"><i class="fas fa-search"></i></span>
        <input type="submit" id="submit" />
    </form>

    <div id="category-popup">

    </div>
</div>