<div id="header-wrapper">
    <div id="logo-wrapper"><a href="/"><img id="riseupgamers-logo" src="{% static 'bundle/assets/riseupgamers/riseupgamers-logo.png' %}"  /></a></div>

    <nav id="nav-wrapper">
        <a class="nav-link" href="/">Home</a>
        <span id="category-button">
            <a class="nav-link">Category</a>
            <div id="category-popup"></div>
        </span>
{#        <a class="nav-link">Deals</a>#}
        <a class="nav-link" href="/save" id="save-link"><span id="header-save-icon"><span id="number-saved"></span><i class="fas fa-star"></i></span> Saved</a>
    </nav>

    <form id="search-wrapper" action="/search" method="get">
        <input id="search-input" name="q" value="{{ q }}" autocomplete="off" />
        <span class="search-icon"><i class="fas fa-search"></i></span>
        <input type="submit" id="submit" />
    </form>
</div>